.NavBar{
    right: 0;
    width: 50%;
    position: absolute;
    top:0;
}

.NavBar ul{
    display:  flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 0;
    height: 30px;
    align-items: center;
}

.NavBar li{
    text-align: center;
    margin: 5px auto;
    color: orange;
    list-style: none;
}