.ParallexGrid{
    position: absolute;
    top:70px;
    width:70%;
    height:calc(100% - 70px);
    overflow-y:scroll;
}

.InfoTile{
    background-color:#FFFFFFFF;
    width:100%;
    height:100% ;
}

.tileContent
{
    padding-left: 20px;
    padding-right: 10px;
}